name: Terraform Deploy Infra Pruebas

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ===============================
      # 1️⃣ Login Azure con OIDC
      # ===============================
      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # ===============================
      # 2️⃣ Instalar Terraform
      # ===============================
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ===============================
      # 3️⃣ Init + Plan + Apply
      # ===============================
      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
